<template>
  <section class="quizzes-list">
    <page-title>All quizzes</page-title>
    <div class="flex flex-wrap" v-if="quizzes.length">
      <div class="w-1/2 p-4" v-for="(quiz, index) in quizzes" :key="quiz.id">
        <router-link :to="`/quiz/${quiz.id}/${slugify(quiz.title)}`">
          <card-with-text
            :title="quiz.title"
            :description="quiz.title"
            :backgroundText="index + 1"
          />
        </router-link>
      </div>
    </div>
    <p class="text-center mt-4" v-else>
      You don't have any quizzes! Create one clicking
      <router-link class="font-bold text-indigo-500 underline" to="/new">here</router-link>!
    </p>
  </section>
</template>

<script>
import { mapGetters } from "vuex"
import PageTitle from "@/components/PageTitle"
import CardWithText from "@/components/CardWithText"

export default {
  components: {
    PageTitle,
    CardWithText
  },
  computed: {
    ...mapGetters({
      quizzes: "getQuizzes"
    })
  }
}
</script>
