<template>
  <div>
    <page-title>New quiz</page-title>
    <div class="mt-6 m-auto shadow-xl rounded max-w-xl w-full p-6">
      <!-- Component - Form group -->
      <form-group label="Title">
        <input
          v-model="current.title"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Title"
        >
      </form-group>
      <!-- Component - Form group -->
      <form-group label="Description">
        <textarea
          v-model="current.description"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Description"
        />
      </form-group>
      <form-group label="Questions">
        <template slot="buttons">
          <rounded-button size="small" @click="addQuestion">Add question</rounded-button>
        </template>
        <!-- Lista de questões -->
        <div v-if="current.questions.length" class="question-list">
          <div
            class="question-list__question rounded shadow-md border px-4 py-2 mb-4"
            v-for="(question, questionIndex) in current.questions"
            :key="questionIndex"
          >
            <!-- Component - Box label with button -->
            <form-group label="Question" size="small">
              <template slot="buttons">
                <rounded-button size="small" @click="removeQuestion(questionIndex)">Remove question</rounded-button>
              </template>
            </form-group>
            <!-- Component inline input with aside -->
            <inline-input v-model="question.title" placeholder="What is the question?">
              <template slot="addon">{{questionIndex + 1}}</template>
            </inline-input>
            <!-- Component - Box label with button -->
            <form-group label="Awnsers" size="small">
              <template slot="buttons">
                <rounded-button size="small" @click="addAwnser(questionIndex)">Add awnser</rounded-button>
              </template>
            </form-group>
            <!-- Component - Toggleable line with commands -->
            <ul>
              <li v-for="(awnser, awnserIndex) in question.awnsers" :key="awnserIndex">
                <toggleable-awnser :correct="awnser.correct" class="justify-between">
                  <template slot="content">
                    <input
                      type="radio"
                      v-model="awnser.correct"
                      :value="true"
                      name="correctAwnser"
                      title="Is this a correct awnser?"
                      @click="handleMarkCorrect(questionIndex, awnserIndex)"
                    >
                    <input
                      type="text"
                      v-model="awnser.title"
                      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                      placeholder="Type here your awnser"
                    >
                    <rounded-button
                      size="small"
                      color="red"
                      v-if="awnserIndex >= 4"
                      @click="removeAwnser(questionIndex, awnserIndex)"
                    >Remove</rounded-button>
                  </template>
                </toggleable-awnser>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-xs" v-else>
          You don't have questions! Click on
          <strong>Add question</strong> to start.
        </p>
      </form-group>
      <div class="flex items-center">
        <p class="text-lg text-red-600 text-center" v-if="error">{{error}}</p>
        <rounded-button
          class="ml-auto"
          color="indigo"
          fontColor="white"
          :colorIntensity="500"
          @click="saveQuiz()"
        >Save quiz</rounded-button>
      </div>
    </div>
  </div>
</template>

<script>
import FormGroup from "@/components/FormGroup"
import PageTitle from "@/components/PageTitle"
import InlineInput from "@/components/InlineInput"
import RoundedButton from "@/components/RoundedButton"
import ToggleableAwnser from "@/components/ToggleableAwnser"

export default {
  components: {
    FormGroup,
    PageTitle,
    InlineInput,
    RoundedButton,
    ToggleableAwnser
  },
  data() {
    return {
      current: {
        id: null,
        title: "",
        description: "",
        questions: []
      },
      error: null
    }
  },
  computed: {
    /* Quizzes are invalid if there's no title or no questions */
    invalidQuiz() {
      const current = this.current
      return current.title.length === 0 || current.questions.length === 0
    },
    /* Questions are invalid if they have no correct awnser or title */
    hasInvalidQuestions() {
      const invalidQuestions = this.current.questions.find(
        (question, index) => {
          const hasCorrectAwnser = question.awnsers.find(
            awnser => awnser.correct === true
          )

          if (question.title.length === 0 || hasCorrectAwnser === undefined) {
            return true
          }

          return false
        }
      )

      if (invalidQuestions) return true

      return false
    },
    /* Awnsers are invalid if they have no title */
    hasInvalidAwnsers() {
      const invalidAwnsers = this.current.questions.reduce(
        (allQuestions, question) => {
          if (question.awnsers.find(awnser => awnser.title.length <= 0)) {
            allQuestions.push(question)
          }

          return allQuestions
        },
        []
      )

      if (invalidAwnsers.length > 0) return true

      return false
    },
    isValid() {
      if (this.invalidQuiz) {
        return "The quiz must have a title and questions."
      } else if (this.hasInvalidQuestions) {
        return "Questions must have a correct awnser and a title."
      } else if (this.hasInvalidAwnsers) {
        return "Awnsers must have a title."
      }

      return true
    }
  },
  methods: {
    addQuestion() {
      this.current.questions.push({
        title: "",
        description: "",
        /* Add 4 questions */
        awnsers: [
          ...Array.from([1, 2, 3, 4], () => ({
            title: "",
            correct: false
          }))
        ]
      })
    },
    removeQuestion(questionIndex) {
      this.$delete(this.current.questions, questionIndex)
    },
    addAwnser(questionIndex) {
      this.current.questions[questionIndex].awnsers.push({
        title: "",
        correct: false
      })
    },
    removeAwnser(questionIndex, awnserIndex) {
      this.$delete(this.current.questions[questionIndex].awnsers, awnserIndex)
    },
    saveQuiz() {
      if (this.isValid !== true) return (this.error = this.isValid)

      this.$store.dispatch("saveQuiz", this.current).then(id => {
        if (!this.current.id) this.current.id = id
      })
      this.$router.push({ name: "quizzes.list" })
    },
    /* Handler for the selection of correct awnser */
    handleMarkCorrect(questionIndex, awnserIndex) {
      this.current.questions[questionIndex].awnsers.forEach(
        (awnser, index) =>
          (this.current.questions[questionIndex].awnsers[index].correct = false)
      )
    }
  }
}
</script>
