<template>
  <div class="text-center">
    <span class="uppercase text-xs">{{quiz.title}}</span>
    <page-title class="text-4xl">{{question.title}}</page-title>

    <ul class="my-12">
      <li
        v-for="(awnser, index) in question.awnsers"
        :key="index"
        class="cursor-pointer"
        @click="chooseAwnser(index)"
      >
        <toggleable-awnser :correct="userChoiceStatus(awnser.correct)">
          <template slot="content" slot-scope="{color}">
            <span
              :class="`block bg-${color}-200 rounded px-2 text-${color}-500 text-xs mr-2`"
            >{{index | questionLetter}}</span>
            <span :class="{'font-bold': userChoice === index}">{{awnser.title}}</span>
          </template>
        </toggleable-awnser>
      </li>
    </ul>

    <div class="flex items-center">
      <small class="w-1/3 text-left">Score: {{getScore(question.id)}}</small>
      <div class="w-1/3">
        <rounded-button
          v-if="!hasReachedEnd && userChoice !== null"
          @click="nextQuestion()"
          color="indigo"
          fontColor="white"
          colorIntensity="500"
        >Next question</rounded-button>
        <h3 v-else-if="hasReachedEnd && userChoice !== null">You've completed this quiz!</h3>
      </div>
      <small
        class="w-1/3 text-right"
      >{{quiz.questions.length - (current + 1)}} of {{quiz.questions.length}} questions left</small>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex"
import PageTitle from "@/components/PageTitle"
import RoundedButton from "@/components/RoundedButton"
import ToggleableAwnser from "@/components/ToggleableAwnser"

export default {
  components: {
    PageTitle,
    RoundedButton,
    ToggleableAwnser
  },
  data() {
    return {
      current: 0,
      userChoice: null
    }
  },
  computed: {
    ...mapGetters({
      getQuiz: "getQuizById",
      getAwnsers: "getAwnsers",
      getScore: "getScore"
    }),
    /* Contains the quiz */
    quiz() {
      return this.getQuiz(this.$route.params.id)
    },
    /* Contains the current question */
    question() {
      return this.quiz.questions[this.current]
    },
    /* Contains only the correct awnsers */
    correctAwnser() {
      return this.question.awnsers.findIndex(awnser => awnser.correct === true)
    },
    /* TRUE if the user has reached the last question */
    hasReachedEnd() {
      return this.current + 1 === this.quiz.questions.length
    }
  },
  filters: {
    /* Translate indexes to letters */
    questionLetter(index) {
      switch (index) {
        case 1:
          return "b"
        case 2:
          return "c"
        case 3:
          return "d"
        default:
          return "a"
      }
    }
  },
  methods: {
    /* If the user has already awnsered the question, return its awnser */
    getSavedChoice(questionIndex) {
      const savedChoice = this.getAwnsers(this.quiz.id, questionIndex)
      if (!isNaN(savedChoice)) this.userChoice = savedChoice
    },
    /* Handle the user choice */
    chooseAwnser(awnserIndex) {
      /* If user has already chosen an awnser, stops */
      if (this.userChoice !== null) return

      /* Set the awnser in state and store */
      this.userChoice = awnserIndex
      this.$store.dispatch("saveAwnser", {
        quizId: this.quiz.id,
        questionId: this.current,
        awnser: awnserIndex,
        correctAwnser: this.correctAwnser
      })
    },
    /* Returns if the user has chosen the correct one only if he has already clicked on an awnser */
    userChoiceStatus(correct) {
      if (this.userChoice !== null) return correct

      return null
    },
    /* Iterates to change to the next question */
    nextQuestion() {
      if (!this.hasReachedEnd) this.current++
    }
  },
  created() {
    /* Loads the saved choice */
    this.getSavedChoice(this.current)
  },
  watch: {
    /* When changed, loads the saved choice */
    current(value) {
      this.getSavedChoice(value)
    }
  }
}
</script>

<style>
</style>
