<template>
  <div
    class="block relative rounded bg-indigo-100 shadow-md py-4 pl-12 pr-4 overflow-hidden hover:text-indigo-700 hover:shadow-lg"
  >
    <div class="relative z-10">
      <slot>
        <h3 class="text-xl font-bold">{{title}}</h3>
        <p>{{description}}</p>
      </slot>
    </div>
    <span
      class="absolute text-indigo-200 opacity-50 top-0 left-0 ml-1 font-bold leading-none z-0"
      style="font-size: 8em;"
    >{{backgroundText}}</span>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false
    },
    description: {
      type: String,
      required: false
    },
    backgroundText: {
      type: [String, Number],
      required: false
    }
  }
}
</script>
