<template>
  <div class="mb-4">
    <div class="flex justify-between items-center py-2">
      <label :class="handleSizes" :for="label">{{label}}</label>
      <slot name="buttons"/>
    </div>
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: false
    },
    size: {
      type: String,
      required: false
    }
  },
  computed: {
    handleSizes() {
      if (this.size === "small") return "text-xs text-gray-500 uppercase"

      return "block text-gray-700 text-sm font-bold"
    }
  }
}
</script>
