<template>
  <div :class="`border-b border-b-2 border-${color}-500 mb-2 flex items-center leading-relaxed`">
    <span :class="`block bg-${color}-200 rounded px-2 text-${color}-500 text-xs`">
      <slot name="addon"/>
    </span>
    <input
      class="text-xl w-full appearance-none focus:outline-none py-2 px-2"
      @input="$emit('input', $event.target.value)"
      :placeholder="placeholder"
    >
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      required: false
    },
    color: {
      type: String,
      required: false,
      default: "indigo"
    }
  }
}
</script>
