<template>
  <div class="flex justify-between bg-red shadow-xl p-8 font-bold" id="nav">
    <router-link to="/" class="hover:text-indigo-500">Quizzes</router-link>
    <div id="logo">🔮</div>
    <router-link to="/new" class="hover:text-indigo-500">New Quiz</router-link>
  </div>
</template>
