<template>
  <button
    :class="`bg-${color}-${colorIntensity} hover:bg-${color}-${(colorIntensity + 200)} text-${fontColor} rounded ${sizeHandler}`"
    @click="$emit('click')"
  >
    <slot/>
  </button>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      required: false
    },
    color: {
      type: String,
      default: "gray"
    },
    fontColor: {
      type: String,
      default: "gray"
    },
    colorIntensity: {
      type: Number,
      default: 200
    }
  },
  computed: {
    sizeHandler() {
      if (this.size === "small") return "py-1 px-2 text-xs"

      return "font-bold py-2 px-4"
    }
  }
}
</script>
