<template>
  <div
    class="flex items-center my-2 border-b border-b-2 py-2 px-4 rounded"
    :class="[`bg-${color}-100 border-${color}-200`, correct === null ? `hover:border-${color}-300 hover:bg-${color}-300` : '']"
  >
    <slot name="content" :color="color"></slot>
  </div>
</template>

<script>
export default {
  props: {
    correct: {
      type: Boolean,
      default: null
    }
  },
  computed: {
    color() {
      return this.correct === true ? "green" : (this.correct === false ? "red" : "gray")
    }
  }
}
</script>

<style>
</style>
