<template>
  <div id="app" class="flex flex-col h-full">
    <main-nav/>
    <router-view class="h-full p-6"/>
  </div>
</template>

<script>
import MainNav from "@/components/MainNav"

export default {
  components: {
    MainNav
  }
}
</script>

<style lang="less">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
